<div class="container">
<div class="box">
  <h2 class="text-primary">Attendance Sheet</h2>

  <div class="card border-top border-0 border-4 border-end mt-3">
    <!-- <h5 class="d-flex p-2">Sheet</h5> -->

    <div class="form-row card-body">
      <div class="col-lg-4">
        <input type="date" class="form-control" placeholder="Choose Start Date">
      </div>
      <div class="col-lg-4">
        <input type="date" class="form-control" placeholder="Date">
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>

    <!-- Table Data -->
    <div class="card-body mt-3">
      <table class="table mb-0 table-responsive">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jacob</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            
          </tr>
          <tr>
            <td>Mark</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
          </tr>
          <tr>
            <td>Jens</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            
          </tr>
          <tr>
            <td>Jens</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            
          </tr>
          <tr>
            <td>Jens</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            
            
          </tr>
          <tr>
            <td>Jens</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            
          </tr>
          <tr>
            <td>Jens</td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="x-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: green;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="minus" style="color: grey;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            <td><i data-feather="check-circle" style="color: red;" width="16" height="16" appFeatherIcon></i></td>
            
          </tr>
       
        </tbody>
      </table>
    </div>

  </div>


</div>
</div>