<div class="container">
<div class="box">
    <h2 class="text-primary">Attendance Info</h2>

    <div class="card border-top border-0 border-4 border-end mt-3">

        <div class="card-body row g-0">
            <div class="col mx-auto">
                <h5>Sahil Grover</h5>
                <p><small>Software Developer</small></p>
            </div>
            <div class="col mx-auto">
                <h5>Employee ID</h5>
                <p><small>IM06D48KL</small></p>

            </div>
            <div class="col">
                <h5>Joining Date</h5>
                <p><small>1 January 2022</small></p>
            </div>
            <div class="col">
                <h5>Project</h5>
                <p><small>Employee Managment System</small></p>
            </div>
        </div>

    </div>


    <div class="card border-top border-0 border-4 border-end mt-3">
        <div class="card-body row g-0">
            <div class="col mx-auto">
                <h5 class="px-5 text-success">09:00</h5>
                <p>Average Working Hours</p>
            </div>
            <div class="col mx-auto">
                <h5 class="px-4 text-success">10:00AM</h5>
                <p>Average In Time</p>

            </div>
            <div class="col">
                <h5 class="px-4 text-success">08:00PM</h5>
                <p>Average Out Time</p>

            </div>
            <div class="col">
                <h5 class="px-4 text-success">02:00PM</h5>
                <p>Average Break TIme</p>

            </div>
        </div>
    </div>


    <div class="card-body mt-3">
        <table class="table mb-0">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Check In</th>
                  <th>check Out</th>
                  <th>Working Hours</th>
                  <th>Shift</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                    <td>10-02-2022</td>
                    <td class="text-danger">10:28</td>
                    <td class="text-success">19:32</td>
                    <td class="text-success">08:32</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-success">Present</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>
                        
                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>

                <tr>
                    <td>10-02-2022</td>
                    <td class="text-danger">10:28</td>
                    <td class="text-success">19:32</td>
                    <td class="text-danger">08:32</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-info">Weekend</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>

                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>

                <tr>
                    <td>10-02-2022</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-danger">Leave</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>

                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>
                
                <tr>
                    <td>10-02-2022</td>
                    <td class="text-success">10:28</td>
                    <td class="text-success">19:32</td>
                    <td class="text-success">08:32</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-success">Present</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>
                        
                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>

                <tr>
                    <td>10-02-2022</td>
                    <td class="text-danger">10:28</td>
                    <td class="text-success">19:32</td>
                    <td class="text-success">08:32</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-info">Weekend</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>

                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>

                <tr>
                    <td>10-02-2022</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Shift 1</td>
                    <td><button class="btn btn-outline-danger">Leave</button></td>
                    <td>
                        <i data-feather="edit" appFeatherIcon width="16" height="16" style="color: green;"></i>

                        <i data-feather="trash-2" appFeatherIcon width="16" height="16" style="color: red;"></i>
                    </td>
                </tr>
              </tbody>
        </table>
    </div>

</div>
</div>